[Unit]
Description=Lightweight Kubernetes Agent
Documentation=https://k3s.io
After=network-online.target

[Service]
Type=exec
ExecStart={{ k3s_install_dir }}/k3s agent --config {{ k3s_config_dir }}/config.yaml
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target